#Use of Print - used for showing the result to use in our specified format

In [1]:
a=10
b=20

In [2]:
#here only last line result will be shown
a
b

20

In [3]:
#here print is used to see desired the line results
print(a)
print(b)

10
20

In [4]:
print(a,b) #, is the sepatater

10 20

In [5]:
print(a,b,'python')

10 20 python

In [6]:
print('a=',a,'b=',b) #we can use our own format to show

a= 10 b= 20

In [10]:
num1=10
num2=20
result=num1+num2

In [11]:
print('The sum of',num1,'and',num2,'is',result)

The sum of 10 and 20 is 30

In [12]:
name='python'
age=10
city='Hyderabad'
#print - 'Hello, My name is python and I am 10 year old from Hyderabad
print('Hello, My name is',name,'and I am ',age,'year old from ',city)

Hello, My name is python and I am  10 year old from  Hyderabad

In [13]:
print('The sum of',num1,'and',num2,'is',result)

The sum of 10 and 20 is 30

#Print Format method----------------------------------------------------------------------------------------------------------------

In [14]:
# The above line can be printed using format method of print
print('The sum of {} and {} is {}'.format(num1,num2,result))

The sum of 10 and 20 is 30

In [17]:
#print - 'Hello, My name is python and I am 10 year old from Hyderabad
print('Hello, My name is',name,'and I am',age,'year old from',city)

Hello, My name is python and I am 10 year old from Hyderabad

In [16]:
#the above line using format method of print
print('Hello, My name is {} and I am {} year old from {}'.format(name,age,city))

Hello, My name is python and I am 10 year old from Hyderabad

#More Short Print - using f string method-------------------------------------------------------------------------------------------

In [19]:
print('The sum of {} and {} is {}'.format(num1,num2,result))

# the above line can be written with f string method as - ...................................................................
print(f'The sum of {num1} and {num2} is {result}')

The sum of 10 and 20 is 30
The sum of 10 and 20 is 30

In [20]:
print('Hello, My name is {} and I am {} year old from {}'.format(name,age,city))

#the above line using f string method of print.......................................................
print(f'Hello, My name is {name} and I am {age} year old from {city}')

Hello, My name is python and I am 10 year old from Hyderabad
Hello, My name is python and I am 10 year old from Hyderabad

In [21]:
#-----------------------All Three types of Print statements-------------------------------
num1=10
num2=20
result=num1+num2

print('The sum of',num1,'and',num2,'is',result)

print('The sum of {} and {} is {}'.format(num1,num2,result))

print(f'The sum of {num1} and {num2} is {result}')

The sum of 10 and 20 is 30
The sum of 10 and 20 is 30
The sum of 10 and 20 is 30

In [22]:
# end statement--------------------------------------------------------------------------------------------------------------------

print("Hello") #statement 1
print("Good morning") #statement 2

Hello
Good morning

In [25]:
# print the result as "Hello Good morning", using end - which joins the line from end of statement 1 to starting of statement 2

print("Hello", end=' ')# here is the end value, can be assigned with anything
print("Good morning")

print("Hello", end='END')# here is the end value, can be assigned with anything
print("Good morning")

Hello Good morning
HelloENDGood morning

In [29]:
#Sepatator----------------------------------------------------------------------------------------------------------------------
# This is for separating the multiple values in a single print statement

print('hello','how','are','you?') # by default, the separator is space-values will be displayed separated by space

print('hello','how','are','you?',sep=',,') # here the separator is ''

print('hello','how','are','you?',sep='-->') # here the separator is '-->'

hello how are you?
hello,,how,,are,,you?
hello-->how-->are-->you?

In [32]:
#Using separator to remove the default space separator
print(3,'.')

print(3,'.',sep='') # here the space is removed and . is shown beside the 3

3 .
3.

In [33]:
print(1,2)
print(3,'.')

1 2
3 .

In [34]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.