In [2]:
#----------Tuple creation------------------------------
t=() #for tuple, we use ()

In [3]:
t

()

In [4]:
type(t)

tuple

In [5]:
print(type(t))

<class 'tuple'>

In [8]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [10]:
t=(23.45,5.2,6.8)
t

(23.45, 5.2, 6.8)

In [11]:
t=('a','b',"sfd")
t

('a', 'b', 'sfd')

In [1]:
t=('a',23,34.45,[23,2,3],(12,34),1+2j,{56,98}) #tuple can have values of differenct data types and can have list/set/tupple... as values
t

('a', 23, 34.45, [23, 2, 3], (12, 34), (1+2j), {56, 98})

In [15]:
t[0]

'a'

In [16]:
t[2]

34.45

In [18]:
t[0]='b' #tuples are immutable - can not change values

TypeError: 'tuple' object does not support item assignment

In [21]:
t[3][0] #accessing the list/set/tuple... vaues inside the tuple

23

In [20]:
t[4][1]

34

In [26]:
t=('a','b','ab','cd''a','a','b','a') #allows duplicates
t

('a', 'b', 'ab', 'cda', 'a', 'b', 'a')

In [27]:
#slicing----------------------------------------------------------------------
t[:]

('a', 'b', 'ab', 'cda', 'a', 'b', 'a')

In [28]:
t[0:]

('a', 'b', 'ab', 'cda', 'a', 'b', 'a')

In [29]:
t[0:3]

('a', 'b', 'ab')

In [30]:
len(t)

7

In [31]:
t[4:7]

('a', 'b', 'a')

In [32]:
t[:5]

('a', 'b', 'ab', 'cda', 'a')

In [38]:
t[::-1] #shows the reversed tuple as result

('a', 'b', 'a', 'cda', 'ab', 'b', 'a')

In [39]:
#--------------deleting tuple------------------
t=('a','b','c','a','a')
t

('a', 'b', 'c', 'a', 'a')

In [41]:
del t[0] #cannot delete the values of a tuple as tuple is immutable

TypeError: 'tuple' object doesn't support item deletion

In [42]:
del t # deleting the entire tuple is possible

In [43]:
t

NameError: name 't' is not defined

In [67]:
#-------------looping-------------------------
t=('a','ser','b','sd','a')
t

('a', 'ser', 'b', 'sd', 'a')

In [68]:
for i in t:
    print(i)

a
ser
b
sd
a

In [69]:
for i in enumerate(t):
    print(i)

(0, 'a')
(1, 'ser')
(2, 'b')
(3, 'sd')
(4, 'a')

In [70]:
#--------membership------------------------
t

('a', 'ser', 'b', 'sd', 'a')

In [71]:
'a' in t #returns True/False based on value present in tuple

True

In [72]:
if 'b' in t:
    print("value is present")
else:
    print("value is not present")

value is present

In [73]:
#-----------index()----------------------------------------------
t

('a', 'ser', 'b', 'sd', 'a')

In [74]:
t.index('a') #returns the index of first occurance

0

In [75]:
t.index('ser')

1

In [76]:
t.index(23)

ValueError: tuple.index(x): x not in tuple

In [77]:
#--------------------------sort------------------------------------------
t

('a', 'ser', 'b', 'sd', 'a')

In [78]:
t.sort()
t

AttributeError: 'tuple' object has no attribute 'sort'

In [80]:
sorted(t) #returns sorted tuple; original tuple is not changed

['a', 'a', 'b', 'sd', 'ser']

In [82]:
sorted(t,reverse=True)

['ser', 'sd', 'b', 'a', 'a']

In [83]:
t

('a', 'ser', 'b', 'sd', 'a')

In [85]:
t[::-1]#this also return sorted array;original is not modified

('a', 'sd', 'b', 'ser', 'a')

In [88]:
t=(1,'a','test',34.56,[2,3])
t

(1, 'a', 'test', 34.56, [2, 3])

In [89]:
sorted(t)

TypeError: '<' not supported between instances of 'str' and 'int'